/* body {
    text-align: center;
    color: blue;
}

h2 {
    color: blue;
    text-align: left;
}
    
figure img {
    width: 200px;
}

figure {
    display: inline-block;
} */

/*
    Assignment of Chapter 49-52
*/
/* #more {
    display: none;
} */

/* Assignment of Chapter 53-58
Task 1 */
/* .modal-body img {
    width: 300px;
}

.img {
    width: 100px; 
}*/